<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../vendor/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../vendor/easyui/themes/icon.css">
</head>
<body>
<div class="page-header">
	<h3>&nbsp;<span class="glyphicon glyphicon-retweet"></span>&nbsp;数据上传{{dbInfo.name}}</h3>
</div>


<div class="row" ng-repeat="item in dbInfo.stores">
	<div class="col-xs-4 col-md-4 col-xs-offset-1 col-md-offset-1"><h4>{{item.text}}（{{item.rowcount}}个）</h4></div>
	<div class="progress col-xs-5 col-md-5 col-xs-offset-1 col-md-offset-1"  style="padding:0">
  		<div class="progress-bar" role="progressbar" aria-valuenow="{{item.progress.width}}" aria-valuemin="0" aria-valuemax="{{item.rowcount}}" 
  		ng-style='{"width":item.progress+"%"}'>
			{{item.progress}}%
		</div>
	</div>
</div>
<div class="panel-footer">
	<div class="row">
		<div class="col-xs-offset-5 col-md-offset-5">
			<button id="btnStartSyn" type="button" class="btn btn-default col-xs-2 col-md-2" ng-click="upload()">数据上传</button>
		</div>
	</div>
</div>
<div class="tab-pane">{{uploadStore}}</div>
<div class="tab-pane" ng-repeat="msg in uploadMessages">{{msg}}</div>

</body>
</html>
