<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../styles/table_main.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../vendor/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../vendor/easyui/themes/icon.css">
<style>
.marginTop{
margin-top:15px;
margin-left:15px;
}
.row-fluid div{
	padding: 3px;
}
#alertMsg .btn-default:hover{
	background-color: #ffffff;
}
.btn-default{
	background-color: #ebebeb
}
</style>
</head>
<body>
<div class="container-fluid">
<div class="page-header">
	<h3>&nbsp;<span class="glyphicon glyphicon-retweet">档案下载</span></h3>
</div>
<div id="alertMsg" class="jumbotron">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div>
		<h1>注意!</h1>
		<p>档案下载，将根据当前登录人管辖的机构下载健康档案。</p>
		<p>下载开始前，请确保本地数据已经同步完成；否则将删除原有本地数据。</p>
	</div>
	<a type="button" class="btn btn-default" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">关闭</span>
	</a>
</div>

<form class="form-inline" role="form" ng-show="!loginFlag">
<div class="row-fluid">
	<div class="col-xs-12">
		<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
			<label for="userid" class="control-label">用户：</label>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
				<input type="text" class="form-control" style="width:145px; height:30px;" placeholder="用户名" id="userid" ng-model="soap.body.userid">
		</div>
		<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
			<label for="password" class="control-label">密码：</label>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
			<input type="password" class="form-control" style="width:145px; height:30px;" placeholder="密码" id="password" ng-model="soap.body.password">
		</div>
		<div class="col-xs-2 col-sm-2 col-md-6 col-lg-6">
			<button type="button" class="btn btn-default" ng-click="soapLogin()">登录</button>
		</div>
	</div>
</div>
</form>

<form class="form-inline" role="form" ng-show="offPwdFlag">
<div class="row-fluid">
	<div class="col-xs-12">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="areacode">行政区划:</label></span>
			<span class="data_row_val">
				<input type="text" style="width:145px; height:30px; background-color:#FFF" id="areacode" value="" style="display:none;">
			</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="downtype">查询类型:</label></span>
			<span class="data_row_val">
				<select class="form-control" style="width:145px; height:30px;" ng-options="item.id as item.text for item in downTypes" ng-change="archiveType()" ng-model="downtype" id="downtype">
				</select>
			</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="downtype">责任医生:</label></span>
			<span class="data_row_val">
				<select class="form-control"  style="width:145px; height:30px;" ng-options="items.id as items.text for items in dictDoctors"  ng-model="dictDoctor" >
					<option value=""></option>
				</select>
			</span>
		</div>
	</div>

	<div class="col-xs-12" ng-show="downtypeFlag">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="downtype">起始时间:</label></span>
			<span class="data_row_val">
				<input hys-datebox  type="text" id="startTime" name="startTime" ng-model="startTime" style="width: 145px;height:30px " class="form-control input-sm">
			</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="downtype">结束时间:</label></span>
			<span class="data_row_val">
				<input hys-datebox  type="text" id="endTime" name="endTime" ng-model="endTime" style="width: 145px;height:30px " class="form-control input-sm">
			</span>
		</div>
	</div>

	  <!-- 
		  <div class="form-group marginTop" ng-show="downtypeFlag">
		    <label for="downtype">待随访:</label>
			<select class="form-control"  ng-options="items.id as items.text for items in downMonths"  ng-model="downMonth" >
			</select>
		  </div>
	   -->
	<div class="col-xs-12">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="downtype">姓名:</label></span>
			<span class="data_row_val">
				<input id="fullname" class="form-control" style="width:145px; height:30px;" placeholder="姓名" ng-model="soap.body.fullname">
			</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="downtype">身份证号:</label></span>
			<span class="data_row_val">
				<input id="jmid" class="form-control" style="width:145px; height:30px;" placeholder="身份证号" ng-model="soap.body.jmid">
			</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<span class="data_row_tip"><label for="downtype">行数:</label></span>
			<span class="data_row_val">
				<input id="pernum" class="form-control" style="width:145px; height:30px;" placeholder="一次查找的记录数" ng-model="soap.body.pernum" value="10">
			</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<button type="button" class="btn btn-default" ng-click="findArch()">查找</button>
		</div>
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-show="findFlag" ng-click="downloadArch()">清空下载</button>
			<button type="button" class="btn btn-default" ng-show="findFlag" ng-click="downloadAddArch()">追加下载</button>
		</div>
	</div>
</div>
<!-- <div>
		 <div class="form-group marginTop">
		    <label for="downtype">姓名:</label>
		    <input id="fullname" class="form-control" style="width:145px; height:30px;" placeholder="姓名" ng-model="soap.body.fullname">
		 </div>
		 <div class="form-group marginTop">
		    <label for="downtype">身份证号:</label>
		  	<input id="jmid" class="form-control" style="width:145px; height:30px;" placeholder="身份证号" ng-model="soap.body.jmid">
		 </div>
		 <div class="form-group marginTop">
		    <label for="downtype">行数:</label>
		  	<input id="pernum" class="form-control" style="width:145px; height:30px;" placeholder="一次查找的记录数" ng-model="soap.body.pernum" value="10">
		 </div>
	 </div>
	 <div class="row" style="margin-top:15px;" ng-show="offPwdFlag">
	 	<div class="col-sm-12 form-group">
			<label for="cc" class="col-sm-1 control-label"></label>
			<div class="col-sm-4">
				<button type="button" class="btn btn-default" ng-show="findFlag" ng-click="downloadArch()">清空下载</button>
				<button type="button" class="btn btn-default" ng-show="findFlag" ng-click="downloadAddArch()">追加下载</button>
			</div>
	 	</div>
	 </div>
 -->

</form>
<!-- 
<form class="form-horizontal" role="form" >
  <div class="form-group">
  	<label for="areacode" class="col-sm-1 control-label" ng-show="offPwdFlag">行政区划</label>
    <div class="col-sm-2">
  		<input id="areacode" value="" style="display:none;">
  	</div>
  	<label class="col-sm-1 control-label" ng-show="offPwdFlag">档案类型</label>
  	<div class="col-sm-2">
	  	<select ng-options="item.id as item.text for item in downTypes" ng-change="archiveType()" ng-model="downtype" ng-show="offPwdFlag">
	  	</select>
	</div>
  	<label class="col-sm-1 control-label" ng-show="downtypeFlag">待随访</label>
  	<div class="col-sm-2">
	  	<select ng-options="items.id as items.text for items in downMonths"  ng-model="downMonth" ng-show="downtypeFlag">
	  	</select>
	</div>
  </div>
  <div class="form-group" ng-show="offPwdFlag">
  	<label for="fullname" class="col-sm-1 control-label">姓名</label>
    <div class="col-sm-2">
  		<input id="fullname" class="form-control" placeholder="姓名" ng-model="soap.body.fullname">
  	</div>
  	<label for="jmid" class="col-sm-1 control-label">身份证号</label>
  	<div class="col-sm-2">
  		<input id="jmid" class="form-control" placeholder="身份证号" ng-model="soap.body.jmid">
  	</div>
  	<label for="pernum" class="col-sm-1 control-label">行数</label>
    <div class="col-sm-1">
  		<input id="pernum" class="form-control" placeholder="一次查找的记录数" ng-model="soap.body.pernum" value="10">
  	</div>
  	<button type="button" class="btn btn-default" ng-click="findArch()">查找</button>
  </div>
  
  <div class="form-group" ng-show="offPwdFlag">
  	<label for="cc" class="col-sm-1 control-label"></label>
  	<div class="col-sm-4">
  		<button type="button" class="btn btn-default" ng-show="findFlag" ng-click="downloadArch()">清空下载</button>
  		<button type="button" class="btn btn-default" ng-show="findFlag" ng-click="downloadAddArch()">追加下载</button>
  	</div>
  </div>
  </form>
-->
<form class="form-inline" role="form" >
	<div class="row-fluid" ng-show="loginFlag&&!offPwdFlag">
<!-- 
  	<label for="userpwd" class="col-sm-3 control-label" style="height:34px;line-height:34px;">设置离线登陆密码:</label>
    <div class="col-sm-3">
  		<input id="userpwd" class="form-control" placeholder="离线随访用户登录密码" ng-model="soap.body.userpwd">
  	</div>
  	<div class="col-sm-3">
  		<input id="userpwd2" class="form-control" placeholder="确认输入登录密码" ng-model="soap.body.userpwd2">
  	</div>
  	<div class="col-sm-3">
  		<button type="button" class="btn btn-default" ng-click="saveOffPwd()">保存</button>
  	</div>
-->
	<div class="col-xs-12">
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
	  		<label for="userpwd" class="control-label">设置离线登陆密码:</label>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
	  		<input id="userpwd" class="form-control" placeholder="离线随访用户登录密码" ng-model="soap.body.userpwd">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
	  		<input id="userpwd2" class="form-control" placeholder="确认输入登录密码" ng-model="soap.body.userpwd2">
		</div>
	  	<div class="col-xs-6 col-sm-4 col-md-4 col-lg-6">
	  		<button type="button" class="btn btn-default" ng-click="saveOffPwd()">保存</button>
		</div>
	</div>
  </div>
</form>
<div >&nbsp;</div>
<div class="alert alert-info" ng-show="message">
	<div id="divNotic" >
			提示：{{message}}
	</div>
</div>
<div style="height:300px;overflow: scroll;" ng-show="offPwdFlag && archlist.length>0">
<table class="table table-bordered" >
	<tr><td></td><td><input type="checkbox" id="checkAll">全选</td><td>健康档案号</td><td>姓名</td><td>性别</td><td>身份证号</td><td>责任医生</td><td></td></tr>
	<tr ng-repeat="arch in archlist">
		<td style="width: 40px">{{arch.rowno+1}}</td>
		<td style="width: 80px"><input type="checkbox" value="{{arch.jmid}}" name="checkJmid"></td>
		<td style="width: 160px">{{arch.jmid}}</td>
		<td style="width: 105px">{{arch.fullname}}</td>
		<td style="width: 75px">{{arch.gender}}</td>
		<td style="width: 160px">{{arch.cardno}}</td>
		<td style="width: 105px">{{arch.dutydoctorname}}</td>
		<td>{{arch.msg}}</td>
	</tr>
	<tr ng-repeat="gov in govlist">
		<td>{{gov.jgmc}}</td>
		<td>{{gov.jgbm}}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
</div>
<div class="alert alert-info" ng-show="detailMsgs.length>0">
	<span ng-repeat="msg in detailMsgs">{{msg+"||"}}</span>
</div>
</div>

</body>
</html>
