<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<style>
.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}
a.list-group-item-success {
  color: #3c763d;
}
.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}
</style>
<body>
<div class="container" align="center" style="padding-top:3%;">
   <div class="row">
      <div id="div1" class="list-group col-sm-6 col-md-3">
         <a id="aa" href="#" class="list-group-item list-group-item-success">首次儿童随访</a>
         <a id="kid_db_oneold_1"  href="" class="list-group-item list-group-item-info">满月</a>
         <a id="kid_db_oneold_2"  href="" class="list-group-item list-group-item-warning">2月龄</a>
         <a id="kid_db_oneold_3"  href="" class="list-group-item list-group-item-danger">3月龄</a>
         <a id="kid_db_oneold_4"  href="" class="list-group-item list-group-item-success">4月龄</a>
         <a id="kid_db_oneold_5"  href="" class="list-group-item list-group-item-info">5月龄</a>
         <a id="kid_db_oneold_6"  href="" class="list-group-item list-group-item-warning">6月龄</a>
         <a id="kid_db_oneold_7"  href="" class="list-group-item list-group-item-danger">7月龄</a>
         <a id="kid_db_oneold_8"  href="" class="list-group-item list-group-item-success">8月龄</a>
         <a id="kid_db_oneold_9"  href="" class="list-group-item list-group-item-info">9月龄</a>
         <a id="kid_db_oneold_10" href="" class="list-group-item list-group-item-warning">10月龄</a>
         <a id="kid_db_oneold_11" href="" class="list-group-item list-group-item-danger">11月龄</a>
      </div>
      <div id="div2" class="list-group col-sm-6 col-md-3">
         <a id="kid_db_twoold_1"  href="" class="list-group-item list-group-item-success">12月龄(1岁)</a>
         <a id="kid_db_twoold_13" href="" class="list-group-item list-group-item-info">13月龄</a>
         <a id="kid_db_twoold_14" href="" class="list-group-item list-group-item-warning">14月龄</a>
         <a id="kid_db_twoold_15" href="" class="list-group-item list-group-item-danger">15月龄</a>
         <a id="kid_db_twoold_16" href="" class="list-group-item list-group-item-success">16月龄</a>
         <a id="kid_db_twoold_17" href="" class="list-group-item list-group-item-info">17月龄</a>
         <a id="kid_db_twoold_2"  href="" class="list-group-item list-group-item-warning">18月龄(1.5岁)</a>
         <a id="kid_db_twoold_19" href="" class="list-group-item list-group-item-danger">19月龄</a>
         <a id="kid_db_twoold_20" href="" class="list-group-item list-group-item-success">20月龄</a>
         <a id="kid_db_twoold_21" href="" class="list-group-item list-group-item-info">21月龄</a>
         <a id="kid_db_twoold_22" href="" class="list-group-item list-group-item-warning">22月龄</a>
         <a id="kid_db_twoold_23" href="" class="list-group-item list-group-item-danger">23月龄</a>
      </div>
      <div id="div3" class="list-group col-sm-6 col-md-3">
         <a id="kid_db_twoold_3"  href="" class="list-group-item list-group-item-success">24月龄(2岁)</a>
         <a id="kid_db_twoold_25" href="" class="list-group-item list-group-item-info">25月龄</a>
         <a id="kid_db_twoold_26" href="" class="list-group-item list-group-item-warning">26月龄</a>
         <a id="kid_db_twoold_27" href="" class="list-group-item list-group-item-danger">27月龄</a>
         <a id="kid_db_twoold_28" href="" class="list-group-item list-group-item-success">28月龄</a>
         <a id="kid_db_twoold_29" href="" class="list-group-item list-group-item-info">29月龄</a>
         <a id="kid_db_twoold_4"  href="" class="list-group-item list-group-item-warning">30月龄(2.5岁)</a>
         <a id="kid_db_twoold_31" href="" class="list-group-item list-group-item-danger">31月龄</a>
         <a id="kid_db_twoold_32" href="" class="list-group-item list-group-item-success">32月龄</a>
         <a id="kid_db_twoold_33" href="" class="list-group-item list-group-item-info">33月龄</a>
         <a id="kid_db_twoold_34" href="" class="list-group-item list-group-item-warning">34月龄</a>
         <a id="kid_db_twoold_35" href="" class="list-group-item list-group-item-danger">35月龄</a>
         <a id="kid_db_twoold_5"  href="" class="list-group-item list-group-item-success">36月龄(3岁)</a>
      </div>
      <div id="div4" class="list-group col-sm-6 col-md-3">
         <a href="" id="HR123_1" class="list-group-item list-group-item-success">3岁</a>
         <a href="" id="HR123_2" class="list-group-item list-group-item-info">4岁</a>
         <a href="" id="HR123_3" class="list-group-item list-group-item-warning">5岁</a>
         <a href="" id="HR123_4" class="list-group-item list-group-item-danger">6岁</a>
         <a href="" id="HR123_5" class="list-group-item list-group-item-success">7岁</a>
         <a href="" id="HR123_6" class="list-group-item list-group-item-info">8岁</a>
         <a href="" id="HR123_7" class="list-group-item list-group-item-warning">9岁</a>
         <a href="" id="HR123_8" class="list-group-item list-group-item-danger">10岁</a>
         <a href="" id="HR123_9" class="list-group-item list-group-item-success">11岁</a>
         <a href="" id="HR123_10" class="list-group-item list-group-item-info">12岁</a>
         <a href="" id="HR123_11" class="list-group-item list-group-item-warning">13岁</a>
      </div>
   </div>

</div>
 <a href="" id="text" type="hidden"></a>
</body>
</html>