<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="../styles/table_main.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../vendor/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../vendor/easyui/themes/icon.css">	
</head>
<body class="container-fluid">
<div class="col-xs-12">&nbsp;</div>
<div class="col-xs-12" style="background-color:#ccc;">
	<form class="form-inline">
		<div class="form-group">
			<label for="cxtype">查询方式:</label>
			<select id="cxtype" name="cxtype"  class="form-control" style="width:150px;height:32px;" ng-model="cxtype">
				<option value=""></option>
				<option value="fullname_idx">小孩姓名 </option>
				<option value="guardian_idx">监护人姓名</option>
				<option value="tel_idx">监护人电话</option>
			</select>
		</div>
		<div class="form-group">
			<label for="cxvalue">姓名/电话:</label>
			<input id="cxvalue" name="cxvalue"  class="form-control" style="width:150px;height:32px;" ng-model="cxvalue"></input>
		</div>
		<button id="btnSave" class="btn btn-default" ng-click="getListVaccination()">查询</button>
	</form>
</div>
<div ng-repeat="item in vaccinationList">
	<div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:5px;">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4>{{item.immu_inocucardid}}
				<span style="float:right;">{{item.fullname}}</span></h4>
			</div>
			<div class="panel-body" >
				<table width="95%">
					<tr>
						<td align="left" width="110px"><label>&nbsp;姓名：</label></td>
						<td align="left" align="left">{{item.fullname}}</td>
					</tr>
					<tr>
						<td align="left" width="110px"><label>&nbsp;姓别：</label></td>
						<td align="left" align="left">{{item.gender}}</td>
					</tr>
					<tr>
						<td align="left" width="110px"><label>&nbsp;出生日期：</label></td>
						<td align="left">{{item.birthday}}</td>
					</tr>
					<tr>
						<td align="left" width="110px"><label>&nbsp;监护人姓名：</label></td>
						<td align="left">{{item.guardian}}</td>
					</tr>
					<tr>
						<td align="left" width="110px"><label>&nbsp;监护人联系电话：</label></td>
						<td align="left">{{item.tel}}</td>
					</tr>
					<tr>
						<td colspan="2" align="center"> 
							<a id="btnSave" class="btn btn-default" href="#/vaccinationDetal/{{item.immu_inocucardid}}">
								<span class="glyphicon glyphicon-search"></span>&nbsp;明细
							</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a id="btnSave" class="btn btn-default" href="#/vaccinationList/{{item.immu_inocucardid}}">
								<span class="glyphicon glyphicon-th-list"></span>&nbsp;接种记录列表
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
			
</body>
</html>
