<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

<link href="../css/table_main.css" rel="stylesheet" />
</head>
<body>
<div>
	<form id="ehr_detail" class="form-horizontal" role="form" id="requestForm">
	<table>
		<tbody>
			<tr>
				<input type="hidden" id="checkid" name="checkid" />
				<td><input id="checkFiles" type="file" multiple></td>
			</tr>
			<tr>
				<td><textarea id='checkData' rows="3" cols="80"></textarea></td>
			</tr>
			<tr>
				<td colspan="1" align="center">
			        <button type="button" class="btn btn-default" data-dismiss="modal">保存</button>
			        <button type="button" class="btn btn-primary">删除</button>
				</td>
			</tr>
		</tbody>
	</table>	
	</form>       
</div>
<script type="text/javascript">
		
</script>
</body>
</html>