<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>索引数据库（Indexeddb）信息</h1>
	<h2>名称：{{dbInfo.name}}<span class="badge">版本：{{dbInfo.version}}</span>{{dbInfo.stores.length}}</h2>
	<table class="table table-striped table-bordered" >
	<tr><th>表名</th><th>主键</th><th>索引</th><th>记录数</th></tr>
	<tr ng-repeat="item in dbInfo.objectStores">
		<td>{{item.name}}</td>
		<td>{{item.keyPath}}</td>
		<td><div ng-repeat="idx in item.indices">{{idx.name + ' ('+idx.keyPath+')'}}</div></td>
		<td>{{item.rowcount}}</td>
	</tr>
	</table>
	
</body>
</html>